@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Base of the page */

body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

button {
    font-family: Roboto, sans-serif;
    width: 100px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    padding: 10px;
    border: 0;
}

ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

a {
    text-decoration: none;
}

img {
    max-height: 100%;
    max-width: 100%;
}

/* Shared properties */

.hero, .footer {
    background-color: #1F2937;
}

.heromaintext, a {
    font-size: 18px;
    color: #E5E7EB;
}

button, .signup {
    background-color: #3882F6;
}

/* Hero properties */

.hero {
    padding: 20px 150px 125px;
}

.heroheader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.headerlogo {
    font-size: 24px;
    color: #F9FAF8;
}

.mainhero {
    display: flex;
}

.herotext {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 15px;
}

.herotextheader {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.heroimage {
    flex: 1;
}

/* Infos properties */

.infos {
    padding: 50px 250px 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.infotitle {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    align-self: center;
}

.icons {
    display: flex;
    justify-content: space-between;
    flex-shrink: 1;
    flex-wrap: wrap;
}

.icon1, .icon2, .icon3, .icon4 {
    max-width: 150px;
    box-sizing: border-box;
}

.iconimages {
    border: 5px solid #3882F6;
    border-radius: 25px;
    padding: 20px;
}